.pt {
    padding-top: 20px;
}

.pt3 {
    padding-top: 3px;
}

.mt40 {
    margin-top: 40px;
}

.mt10 {
    margin-top: 10px;
}
.p20 {
    padding: 20px;
}

.border {
    border: 2px solid black;
}

.fontNunito {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-weight: 300;
    opacity: 1;
}

.bgCard {
    opacity: .85;
    width: 60%;
}

.center {
    width: 100px;
    height: 100px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.hide {
    display: hidden;
}

.z {
    z-index: 999;
}

.nav-wrapper {
    background-color: grey !important;
    font-size: 14px;
    font-weight: bold;
}

.page-footer {
    background-color: grey !important;
}




/* sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-title {
    width: 100%;
    opacity: .85;
}

.full-text-opacity {
    opacity: 1;
}

.strike {
    text-decoration: line-through;
}

.card-content {
    max-height: 200px;
    min-height: 200px;
}

.card {
    max-width: 250px;
}

.card-image {
    max-height: 250px;
    min-height: 250px;
}

.pad {
    padding-top: 5px;
    padding-bottom: 5px;
}

.mh {
    max-height: 250px;
    min-height: 250px;
}